.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.class-section {
  margin-bottom: 20px;
}

.class-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 10px;
}

.class-row {
  display: flex;
  gap: 10px; /* Adjust the gap between seats */
}



/* Optional: Adjust the gap between every 2nd column */
.class-row > :nth-child(2n) {
  margin-right: 50px; /* Adjust as needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid ;
}

th {
  font-weight: bold;
}

td {
  padding: 5px 15px;
  vertical-align: top;
}

td[colspan] {
  text-align: center;
  font-weight: bold;
}

td, th {
  border-right: 2px solid #fff; /* Adjust color and width as needed */
}
